<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.2/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="false"
         backupGlobals="false"
         backupStaticAttributes="false">

    <testsuites>
        <testsuite name="core">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html"
             target="build/log/coverage"
             lowUpperBound="35"
             highLowerBound="70"
        />
        <log type="testdox-html"
             target="build/log/testdox.html"/>
    </logging>

</phpunit>
